# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Virtual environments
env/
venv/
.venv/

# Data
*.npz
*.npy
*.csv

# Model weights
*.h5
*.pt
*.pth
*.ckpt

# Jupyter
.ipynb_checkpoints/

# System
.DS_Store